In [29]:
import pandas as pd 
import numpy as np

In [15]:
df = pd.read_csv('data/charting-m-stats-Overview.csv', delimiter= ',')
df[['tourney_date', 'sm','tourney_name','sm2','player1','player2']] = df['match_id'].str.split('-', 6, expand=True)
# df.rename(columns = {'first_in':'l_1stIn', 'first_won':'l_1stWon','second_won' : 'l_2ndWon', 'aces' : 'l_ace'}, inplace = True)
df['tourney_date'] = df['tourney_date'].apply(lambda x : int(x)) 
df = df.loc[df['tourney_date'] > 20050000 , :]
df =  df[(df['set'] == 'Total') & (df['player'] == 2)] 
# df[df['l_1stIn' , 'l_1stWon','l_2ndWon' , 'l_ace']] = df['first_in', 'first_won','second_won' , 'aces' ]
df['l_1stIn'] = df['first_in'] 
df['l_1stWon'] = df['first_won'] 
df['l_2ndWon'] = df['second_won'] 
df['l_ace'] = df['aces'] 
df['l_winners_fh'] = df['winners_fh'] 
df['l_winners_bh'] = df['winners_bh'] 
df['l_unforced_fh'] = df['unforced_fh'] 
df['l_unforced_bh'] = df['unforced_bh'] 
df['l_return_pts_faced'] = df['return_pts'] 
df['l_return_pts_won'] = df['return_pts_won'] 
df.drop(df.columns.to_list()[1:24],axis =1 ,inplace=True)
df

,match_id,player1,player2,l_1stIn,l_1stWon,l_2ndWon,l_ace,l_winners_fh,l_winners_bh,l_unforced_fh,l_unforced_bh,l_return_pts_faced,l_return_pts_won
573,20050221-M-Dubai-SF-Roger_Federer-Andre_Agassi,Roger_Federer,Andre_Agassi,23,10,10,1,2,1,8,8,51,15
579,20050318-M-Indian_Wells_Masters-SF-Roger_Feder...,Roger_Federer,Guillermo_Canas,27,14,10,2,6,2,7,8,56,21
585,20050703-M-Wimbledon-F-Roger_Federer-Andy_Roddick,Roger_Federer,Andy_Roddick,62,42,13,7,6,3,11,8,79,17
593,20050911-M-US_Open-F-Roger_Federer-Andre_Agassi,Roger_Federer,Andre_Agassi,78,45,29,6,14,8,12,17,107,32
603,20060123-M-Australian_Open-QF-David_Nalbandian...,David_Nalbandian,Fabrice_Santoro,53,28,5,4,7,5,4,9,64,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19695,20220704-M-Wimbledon-R16-Rafael_Nadal-Botic_Va...,Rafael_Nadal,Botic_Van_De_Zandschulp,62,42,17,12,10,8,19,20,88,26
19711,20220712-M-Newport-R32-Andy_Murray-Sam_Querrey,Andy_Murray,Sam_Querrey,15,9,3,2,3,4,14,14,41,13
19717,20220712-M-Bastad-R32-Emil_Ruusuvuori-Dominic_...,Emil_Ruusuvuori,Dominic_Thiem,69,45,14,7,12,12,27,14,89,40
19725,20220706-M-Wimbledon-QF-Nick_Kyrgios-Cristian_...,Nick_Kyrgios,Cristian_Garin,63,43,13,2,16,8,15,13,114,41
19733,20220713-M-Newport-R16-Andy_Murray-Max_Purcell,Andy_Murray,Max_Purcell,45,22,14,5,10,8,21,17,87,36

In [16]:
d2 = pd.read_csv('data/charting-m-stats-Overview.csv', delimiter= ',')
d2[['tourney_date', 'sm','tourney_name','sm2','player1','player2']] = d2['match_id'].str.split('-', 6, expand=True)
# df.rename(columns = {'first_in':'l_1stIn', 'first_won':'l_1stWon','second_won' : 'l_2ndWon', 'aces' : 'l_ace'}, inplace = True)
d2['tourney_date'] = d2['tourney_date'].apply(lambda x : int(x)) 
d2 = d2.loc[d2['tourney_date'] > 20050000 , :]
d2 =  d2[(d2['set'] == 'Total') & (d2['player'] == 1)] 
# df[df['l_1stIn' , 'l_1stWon','l_2ndWon' , 'l_ace']] = df['first_in', 'first_won','second_won' , 'aces' ]
d2['w_1stIn'] = d2['first_in'] 
d2['w_1stWon'] = d2['first_won'] 
d2['w_2ndWon'] = d2['second_won'] 
d2['w_ace'] = d2['aces'] 
d2['w_winners_fh'] = d2['winners_fh'] 
d2['w_winners_bh'] = d2['winners_bh'] 
d2['w_unforced_fh'] = d2['unforced_fh'] 
d2['w_unforced_bh'] = d2['unforced_bh'] 
d2['w_return_pts_faced'] = d2['return_pts'] 
d2['w_return_pts_won'] = d2['return_pts_won'] 
d2.drop(d2.columns.to_list()[1:24],axis =1 ,inplace=True)
d2

,match_id,player1,player2,w_1stIn,w_1stWon,w_2ndWon,w_ace,w_winners_fh,w_winners_bh,w_unforced_fh,w_unforced_bh,w_return_pts_faced,w_return_pts_won
572,20050221-M-Dubai-SF-Roger_Federer-Andre_Agassi,Roger_Federer,Andre_Agassi,33,25,11,7,10,3,7,9,41,21
578,20050318-M-Indian_Wells_Masters-SF-Roger_Feder...,Roger_Federer,Guillermo_Canas,34,22,13,7,11,5,11,6,47,23
584,20050703-M-Wimbledon-F-Roger_Federer-Andy_Roddick,Roger_Federer,Andy_Roddick,49,40,22,11,20,14,5,15,90,35
592,20050911-M-US_Open-F-Roger_Federer-Andre_Agassi,Roger_Federer,Andre_Agassi,81,60,15,20,26,10,13,26,131,57
602,20060123-M-Australian_Open-QF-David_Nalbandian...,David_Nalbandian,Fabrice_Santoro,46,34,13,2,25,19,10,8,76,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19694,20220704-M-Wimbledon-R16-Rafael_Nadal-Botic_Va...,Rafael_Nadal,Botic_Van_De_Zandschulp,56,41,21,8,8,11,13,9,101,42
19710,20220712-M-Newport-R32-Andy_Murray-Sam_Querrey,Andy_Murray,Sam_Querrey,31,21,7,5,2,2,2,6,38,26
19716,20220712-M-Bastad-R32-Emil_Ruusuvuori-Dominic_...,Emil_Ruusuvuori,Dominic_Thiem,55,31,18,1,11,6,15,19,98,39
19724,20220706-M-Wimbledon-QF-Nick_Kyrgios-Cristian_...,Nick_Kyrgios,Cristian_Garin,81,59,14,17,11,4,21,17,88,32
19732,20220713-M-Newport-R16-Andy_Murray-Max_Purcell,Andy_Murray,Max_Purcell,50,35,16,8,10,7,11,7,80,44

In [17]:
seleted_rows = (d['loser_name'] == 'Arthur Rinderknech' ) & (d['winner_name'] == 'Thanasi Kokkinakis') #df['Job Type']=='White-collar'
display(d.loc[seleted_rows,:])

,Unnamed: 0,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
49631,49631,2022-9667,Adelaide 2,Hard,32,A,20220110,300,106423,NaN,...,68.0,55.0,19.0,17.0,1.0,3.0,145.0,480.0,58.0,1057.0

In [18]:
data_m = pd.merge(df,                         
                          d2,
                          on = ['player1','player2','match_id'],
                          how = "outer")
display(data_m)  
data_m.info()

,match_id,player1,player2,l_1stIn,l_1stWon,l_2ndWon,l_ace,l_winners_fh,l_winners_bh,l_unforced_fh,...,w_1stIn,w_1stWon,w_2ndWon,w_ace,w_winners_fh,w_winners_bh,w_unforced_fh,w_unforced_bh,w_return_pts_faced,w_return_pts_won
0,20050221-M-Dubai-SF-Roger_Federer-Andre_Agassi,Roger_Federer,Andre_Agassi,23,10,10,1,2,1,8,...,33,25,11,7,10,3,7,9,41,21
1,20050318-M-Indian_Wells_Masters-SF-Roger_Feder...,Roger_Federer,Guillermo_Canas,27,14,10,2,6,2,7,...,34,22,13,7,11,5,11,6,47,23
2,20050703-M-Wimbledon-F-Roger_Federer-Andy_Roddick,Roger_Federer,Andy_Roddick,62,42,13,7,6,3,11,...,49,40,22,11,20,14,5,15,90,35
3,20050911-M-US_Open-F-Roger_Federer-Andre_Agassi,Roger_Federer,Andre_Agassi,78,45,29,6,14,8,12,...,81,60,15,20,26,10,13,26,131,57
4,20060123-M-Australian_Open-QF-David_Nalbandian...,David_Nalbandian,Fabrice_Santoro,53,28,5,4,7,5,4,...,46,34,13,2,25,19,10,8,76,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2087,20220704-M-Wimbledon-R16-Rafael_Nadal-Botic_Va...,Rafael_Nadal,Botic_Van_De_Zandschulp,62,42,17,12,10,8,19,...,56,41,21,8,8,11,13,9,101,42
2088,20220712-M-Newport-R32-Andy_Murray-Sam_Querrey,Andy_Murray,Sam_Querrey,15,9,3,2,3,4,14,...,31,21,7,5,2,2,2,6,38,26
2089,20220712-M-Bastad-R32-Emil_Ruusuvuori-Dominic_...,Emil_Ruusuvuori,Dominic_Thiem,69,45,14,7,12,12,27,...,55,31,18,1,11,6,15,19,98,39
2090,20220706-M-Wimbledon-QF-Nick_Kyrgios-Cristian_...,Nick_Kyrgios,Cristian_Garin,63,43,13,2,16,8,15,...,81,59,14,17,11,4,21,17,88,32
2091,20220713-M-Newport-R16-Andy_Murray-Max_Purcell,Andy_Murray,Max_Purcell,45,22,14,5,10,8,21,...,50,35,16,8,10,7,11,7,80,44

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2092 entries, 0 to 2091
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   match_id            2092 non-null   object
 1   player1             2092 non-null   object
 2   player2             2092 non-null   object
 3   l_1stIn             2092 non-null   int64
 4   l_1stWon            2092 non-null   int64
 5   l_2ndWon            2092 non-null   int64
 6   l_ace               2092 non-null   int64
 7   l_winners_fh        2092 non-null   int64
 8   l_winners_bh        2092 non-null   int64
 9   l_unforced_fh       2092 non-null   int64
 10  l_unforced_bh       2092 non-null   int64
 11  l_return_pts_faced  2092 non-null   int64
 12  l_return_pts_won    2092 non-null   int64
 13  w_1stIn             2092 non-null   int64
 14  w_1stWon            2092 non-null   int64
 15  w_2ndWon            2092 non-null   int64
 16  w_ace               2092 non-null   int64
 17  w_winners_fh        2092 non-null   int64
 18  w_winners_bh        2092 non-null   int64
 19  w_unforced_fh       2092 non-null   int64
 20  w_unforced_bh       2092 non-null   int64
 21  w_return_pts_faced  2092 non-null   int64
 22  w_return_pts_won    2092 non-null   int64
dtypes: int64(20), object(3)
memory usage: 392.2+ KB

In [19]:
d = pd.read_csv('data/atp_matches_2005-2022.csv')

seleted_rows = (d['loser_name'] == 'Max Purcell' ) & (d['winner_name'] == 'Andy Murray') #df['Job Type']=='White-collar'
display(d.loc[seleted_rows,:])

C:\Users\HP\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (9,17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
51231,51231,2022-0315,Newport,Grass,32,A,20220711,290,104918,6,...,45.0,22.0,14.0,12.0,8.0,15.0,52.0,915.0,202.0,270.0

In [20]:
ndf = data_m.copy()
ndf.rename(columns = {'player1':'winner_name', 'player2':'loser_name'}, inplace = True)
ndf.loc[:,['winner_name','loser_name']]=ndf.loc[:,['winner_name','loser_name']].applymap(lambda x: x.replace('_',' ') ) #for multiple columns
ndf

,match_id,winner_name,loser_name,l_1stIn,l_1stWon,l_2ndWon,l_ace,l_winners_fh,l_winners_bh,l_unforced_fh,...,w_1stIn,w_1stWon,w_2ndWon,w_ace,w_winners_fh,w_winners_bh,w_unforced_fh,w_unforced_bh,w_return_pts_faced,w_return_pts_won
0,20050221-M-Dubai-SF-Roger_Federer-Andre_Agassi,Roger Federer,Andre Agassi,23,10,10,1,2,1,8,...,33,25,11,7,10,3,7,9,41,21
1,20050318-M-Indian_Wells_Masters-SF-Roger_Feder...,Roger Federer,Guillermo Canas,27,14,10,2,6,2,7,...,34,22,13,7,11,5,11,6,47,23
2,20050703-M-Wimbledon-F-Roger_Federer-Andy_Roddick,Roger Federer,Andy Roddick,62,42,13,7,6,3,11,...,49,40,22,11,20,14,5,15,90,35
3,20050911-M-US_Open-F-Roger_Federer-Andre_Agassi,Roger Federer,Andre Agassi,78,45,29,6,14,8,12,...,81,60,15,20,26,10,13,26,131,57
4,20060123-M-Australian_Open-QF-David_Nalbandian...,David Nalbandian,Fabrice Santoro,53,28,5,4,7,5,4,...,46,34,13,2,25,19,10,8,76,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2087,20220704-M-Wimbledon-R16-Rafael_Nadal-Botic_Va...,Rafael Nadal,Botic Van De Zandschulp,62,42,17,12,10,8,19,...,56,41,21,8,8,11,13,9,101,42
2088,20220712-M-Newport-R32-Andy_Murray-Sam_Querrey,Andy Murray,Sam Querrey,15,9,3,2,3,4,14,...,31,21,7,5,2,2,2,6,38,26
2089,20220712-M-Bastad-R32-Emil_Ruusuvuori-Dominic_...,Emil Ruusuvuori,Dominic Thiem,69,45,14,7,12,12,27,...,55,31,18,1,11,6,15,19,98,39
2090,20220706-M-Wimbledon-QF-Nick_Kyrgios-Cristian_...,Nick Kyrgios,Cristian Garin,63,43,13,2,16,8,15,...,81,59,14,17,11,4,21,17,88,32
2091,20220713-M-Newport-R16-Andy_Murray-Max_Purcell,Andy Murray,Max Purcell,45,22,14,5,10,8,21,...,50,35,16,8,10,7,11,7,80,44

In [21]:
data_merge_all = pd.merge(d,                         
                          ndf,
                          on = ['l_1stIn','l_1stWon','l_2ndWon' , 'l_ace','winner_name','loser_name'],
                          how = "right")
display(data_merge_all)

,Unnamed: 0,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,...,w_1stIn_y,w_1stWon_y,w_2ndWon_y,w_ace_y,w_winners_fh,w_winners_bh,w_unforced_fh,w_unforced_bh,w_return_pts_faced,w_return_pts_won
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,33,25,11,7,10,3,7,9,41,21
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34,22,13,7,11,5,11,6,47,23
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49,40,22,11,20,14,5,15,90,35
3,2487.0,2005-560,US Open,Hard,128.0,G,20050829.0,127.0,103819.0,1,...,81,60,15,20,26,10,13,26,131,57
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46,34,13,2,25,19,10,8,76,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,56,41,21,8,8,11,13,9,101,42
2088,51241.0,2022-0315,Newport,Grass,32.0,A,20220711.0,278.0,104918.0,6,...,31,21,7,5,2,2,2,6,38,26
2089,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55,31,18,1,11,6,15,19,98,39
2090,51189.0,2022-540,Wimbledon,Grass,128.0,G,20220627.0,222.0,106401.0,NaN,...,81,59,14,17,11,4,21,17,88,32
2091,51231.0,2022-0315,Newport,Grass,32.0,A,20220711.0,290.0,104918.0,6,...,50,35,16,8,10,7,11,7,80,44

In [22]:
data_merge_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2092 entries, 0 to 2091
Data columns (total 67 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          512 non-null    float64
 1   tourney_id          512 non-null    object
 2   tourney_name        512 non-null    object
 3   surface             512 non-null    object
 4   draw_size           512 non-null    float64
 5   tourney_level       512 non-null    object
 6   tourney_date        512 non-null    float64
 7   match_num           512 non-null    float64
 8   winner_id           512 non-null    float64
 9   winner_seed         364 non-null    object
 10  winner_entry        45 non-null     object
 11  winner_name         2092 non-null   object
 12  winner_hand         512 non-null    object
 13  winner_ht           512 non-null    float64
 14  winner_ioc          512 non-null    object
 15  winner_age          512 non-null    float64
 16  loser_id            512 non-null    float64
 17  loser_seed          263 non-null    object
 18  loser_entry         66 non-null     object
 19  loser_name          2092 non-null   object
 20  loser_hand          512 non-null    object
 21  loser_ht            509 non-null    float64
 22  loser_ioc           512 non-null    object
 23  loser_age           512 non-null    float64
 24  score               512 non-null    object
 25  best_of             512 non-null    float64
 26  round               512 non-null    object
 27  minutes             479 non-null    float64
 28  w_ace_x             512 non-null    float64
 29  w_df                512 non-null    float64
 30  w_svpt              512 non-null    float64
 31  w_1stIn_x           512 non-null    float64
 32  w_1stWon_x          512 non-null    float64
 33  w_2ndWon_x          512 non-null    float64
 34  w_SvGms             512 non-null    float64
 35  w_bpSaved           512 non-null    float64
 36  w_bpFaced           512 non-null    float64
 37  l_ace               2092 non-null   float64
 38  l_df                512 non-null    float64
 39  l_svpt              512 non-null    float64
 40  l_1stIn             2092 non-null   float64
 41  l_1stWon            2092 non-null   float64
 42  l_2ndWon            2092 non-null   float64
 43  l_SvGms             512 non-null    float64
 44  l_bpSaved           512 non-null    float64
 45  l_bpFaced           512 non-null    float64
 46  winner_rank         512 non-null    float64
 47  winner_rank_points  512 non-null    float64
 48  loser_rank          512 non-null    float64
 49  loser_rank_points   512 non-null    float64
 50  match_id            2092 non-null   object
 51  l_winners_fh        2092 non-null   int64
 52  l_winners_bh        2092 non-null   int64
 53  l_unforced_fh       2092 non-null   int64
 54  l_unforced_bh       2092 non-null   int64
 55  l_return_pts_faced  2092 non-null   int64
 56  l_return_pts_won    2092 non-null   int64
 57  w_1stIn_y           2092 non-null   int64
 58  w_1stWon_y          2092 non-null   int64
 59  w_2ndWon_y          2092 non-null   int64
 60  w_ace_y             2092 non-null   int64
 61  w_winners_fh        2092 non-null   int64
 62  w_winners_bh        2092 non-null   int64
 63  w_unforced_fh       2092 non-null   int64
 64  w_unforced_bh       2092 non-null   int64
 65  w_return_pts_faced  2092 non-null   int64
 66  w_return_pts_won    2092 non-null   int64
dtypes: float64(34), int64(16), object(17)
memory usage: 1.1+ MB

In [23]:
temp_data = data_merge_all.dropna(subset=['l_bpSaved'])
temp_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 512 entries, 3 to 2091
Data columns (total 67 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          512 non-null    float64
 1   tourney_id          512 non-null    object
 2   tourney_name        512 non-null    object
 3   surface             512 non-null    object
 4   draw_size           512 non-null    float64
 5   tourney_level       512 non-null    object
 6   tourney_date        512 non-null    float64
 7   match_num           512 non-null    float64
 8   winner_id           512 non-null    float64
 9   winner_seed         364 non-null    object
 10  winner_entry        45 non-null     object
 11  winner_name         512 non-null    object
 12  winner_hand         512 non-null    object
 13  winner_ht           512 non-null    float64
 14  winner_ioc          512 non-null    object
 15  winner_age          512 non-null    float64
 16  loser_id            512 non-null    float64
 17  loser_seed          263 non-null    object
 18  loser_entry         66 non-null     object
 19  loser_name          512 non-null    object
 20  loser_hand          512 non-null    object
 21  loser_ht            509 non-null    float64
 22  loser_ioc           512 non-null    object
 23  loser_age           512 non-null    float64
 24  score               512 non-null    object
 25  best_of             512 non-null    float64
 26  round               512 non-null    object
 27  minutes             479 non-null    float64
 28  w_ace_x             512 non-null    float64
 29  w_df                512 non-null    float64
 30  w_svpt              512 non-null    float64
 31  w_1stIn_x           512 non-null    float64
 32  w_1stWon_x          512 non-null    float64
 33  w_2ndWon_x          512 non-null    float64
 34  w_SvGms             512 non-null    float64
 35  w_bpSaved           512 non-null    float64
 36  w_bpFaced           512 non-null    float64
 37  l_ace               512 non-null    float64
 38  l_df                512 non-null    float64
 39  l_svpt              512 non-null    float64
 40  l_1stIn             512 non-null    float64
 41  l_1stWon            512 non-null    float64
 42  l_2ndWon            512 non-null    float64
 43  l_SvGms             512 non-null    float64
 44  l_bpSaved           512 non-null    float64
 45  l_bpFaced           512 non-null    float64
 46  winner_rank         512 non-null    float64
 47  winner_rank_points  512 non-null    float64
 48  loser_rank          512 non-null    float64
 49  loser_rank_points   512 non-null    float64
 50  match_id            512 non-null    object
 51  l_winners_fh        512 non-null    int64
 52  l_winners_bh        512 non-null    int64
 53  l_unforced_fh       512 non-null    int64
 54  l_unforced_bh       512 non-null    int64
 55  l_return_pts_faced  512 non-null    int64
 56  l_return_pts_won    512 non-null    int64
 57  w_1stIn_y           512 non-null    int64
 58  w_1stWon_y          512 non-null    int64
 59  w_2ndWon_y          512 non-null    int64
 60  w_ace_y             512 non-null    int64
 61  w_winners_fh        512 non-null    int64
 62  w_winners_bh        512 non-null    int64
 63  w_unforced_fh       512 non-null    int64
 64  w_unforced_bh       512 non-null    int64
 65  w_return_pts_faced  512 non-null    int64
 66  w_return_pts_won    512 non-null    int64
dtypes: float64(34), int64(16), object(17)
memory usage: 272.0+ KB

In [24]:
temp_data.reset_index(inplace=True)

In [25]:
temp_data

,index,Unnamed: 0,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,...,w_1stIn_y,w_1stWon_y,w_2ndWon_y,w_ace_y,w_winners_fh,w_winners_bh,w_unforced_fh,w_unforced_bh,w_return_pts_faced,w_return_pts_won
0,3,2487.0,2005-560,US Open,Hard,128.0,G,20050829.0,127.0,103819.0,...,81,60,15,20,26,10,13,26,131,57
1,16,11087.0,2008-422,Cincinnati Masters,Hard,56.0,M,20080728.0,54.0,104925.0,...,32,23,19,4,11,3,7,9,45,17
2,18,12033.0,2008-560,US Open,Hard,128.0,G,20080825.0,127.0,103819.0,...,47,37,16,3,22,5,14,11,81,41
3,26,15385.0,2009-605,Tour Finals,Hard,8.0,F,20091122.0,10.0,104417.0,...,37,28,16,5,13,5,10,14,58,24
4,28,16201.0,2010-580,Australian Open,Hard,128.0,G,20100118.0,124.0,104918.0,...,58,44,18,13,13,10,13,13,72,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,2081,50934.0,2022-0321,Stuttgart,Grass,32.0,A,20220606.0,290.0,106401.0,...,59,49,18,21,12,3,10,5,101,34
508,2085,51179.0,2022-540,Wimbledon,Grass,128.0,G,20220627.0,212.0,104925.0,...,61,46,25,7,14,7,17,8,124,56
509,2088,51241.0,2022-0315,Newport,Grass,32.0,A,20220711.0,278.0,104918.0,...,31,21,7,5,2,2,2,6,38,26
510,2090,51189.0,2022-540,Wimbledon,Grass,128.0,G,20220627.0,222.0,106401.0,...,81,59,14,17,11,4,21,17,88,32
511,2091,51231.0,2022-0315,Newport,Grass,32.0,A,20220711.0,290.0,104918.0,...,50,35,16,8,10,7,11,7,80,44

In [30]:
winner_player1 = np.ones(temp_data.shape[0]) # first player wins so label=1
temp_data['label'] = winner_player1 
temp_data

<ipython-input-30-d853eb1d3334>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_data['label'] = winner_player1

,index,Unnamed: 0,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,...,w_1stWon_y,w_2ndWon_y,w_ace_y,w_winners_fh,w_winners_bh,w_unforced_fh,w_unforced_bh,w_return_pts_faced,w_return_pts_won,label
0,3,2487.0,2005-560,US Open,Hard,128.0,G,20050829.0,127.0,103819.0,...,60,15,20,26,10,13,26,131,57,1.0
1,16,11087.0,2008-422,Cincinnati Masters,Hard,56.0,M,20080728.0,54.0,104925.0,...,23,19,4,11,3,7,9,45,17,1.0
2,18,12033.0,2008-560,US Open,Hard,128.0,G,20080825.0,127.0,103819.0,...,37,16,3,22,5,14,11,81,41,1.0
3,26,15385.0,2009-605,Tour Finals,Hard,8.0,F,20091122.0,10.0,104417.0,...,28,16,5,13,5,10,14,58,24,1.0
4,28,16201.0,2010-580,Australian Open,Hard,128.0,G,20100118.0,124.0,104918.0,...,44,18,13,13,10,13,13,72,32,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,2081,50934.0,2022-0321,Stuttgart,Grass,32.0,A,20220606.0,290.0,106401.0,...,49,18,21,12,3,10,5,101,34,1.0
508,2085,51179.0,2022-540,Wimbledon,Grass,128.0,G,20220627.0,212.0,104925.0,...,46,25,7,14,7,17,8,124,56,1.0
509,2088,51241.0,2022-0315,Newport,Grass,32.0,A,20220711.0,278.0,104918.0,...,21,7,5,2,2,2,6,38,26,1.0
510,2090,51189.0,2022-540,Wimbledon,Grass,128.0,G,20220627.0,222.0,106401.0,...,59,14,17,11,4,21,17,88,32,1.0
511,2091,51231.0,2022-0315,Newport,Grass,32.0,A,20220711.0,290.0,104918.0,...,35,16,8,10,7,11,7,80,44,1.0

In [31]:
temp_data.to_csv('data/first-ATP.csv')

SyntaxError: invalid syntax (<ipython-input-27-97f89230b92c>, line 1)