The main idea for the project is to think of how can I help the player to increase his chances to win a game. 
1- EDA 
-- For the EDA it will help the player to understand his opponent in a tournament. Know their weakness, the attributes for the top ranked players and what is special about them.
2- clustering 
-- Grouping the players can help to form his strategy of the game
3- Prediction
-- Now the player knows his opponent and have a plan for the game. The next step will be trying to predict the result of the game
4- Game simulation

| Day | Main Objective                                                          | Sub-Tasks                                                                                                                                                           |
|-----|-------------------------------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| 14  | Finishing the data  cleaning                                            | 1-Clean the main data  2-Choosing the columns needed from the other data 3-Clean the datasets from the second Repo 4-Link the main dataset with the second datasets |
| 15  | Start the EDA                                                           | -The main theme is to know the attributes of the top ranked players                                                                                                        |
| 16  | EDA                                                                     |                                                                                                                                                                     |
| 17  | Feature Engineering & Selection for the clustering model                | -Perform the clustering analysis :  -Does the top ranked are grouped in one cluster?  -Explore the main differences between the groups  -Link it to the EDA        |
| 18  |  |                                                                                                                                                                     |
| 19  |Feature Engineering & Selection for Predicting the result of the  match                                                                         |                                                                                                                                                                     |
| 20  |                                                                         |                                                                                                                                                                     |
| 21  |                                                                         |                                                                                                                                                                     |
| 22  | Presentation                                                            |                                                                                                                                                                     |
| 23  | Presentation/ Revision                                                  |                                                                                                                                                                     |
| 24  |                                                                         |                                                                                                                                                                     |

In [1]:
#import 
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('data/charting-m-stats-Overview.csv')
data

,match_id,player,set,serve_pts,aces,dfs,first_in,first_won,second_in,second_won,bk_pts,bp_saved,return_pts,return_pts_won,winners,winners_fh,winners_bh,unforced,unforced_fh,unforced_bh
0,19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bo...,1,Total,69,2,1,32,25,37,21,5,4,63,36,28,10,16,16,6,9
1,19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bo...,2,Total,63,2,2,41,20,22,7,12,4,69,23,14,8,4,26,15,9
2,19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bo...,1,1,26,2,0,15,10,11,6,2,1,18,13,10,3,5,6,2,4
3,19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bo...,2,1,18,0,0,11,3,7,2,3,0,26,10,4,2,2,10,7,3
4,19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bo...,1,2,24,0,0,10,9,14,8,1,1,26,10,9,3,6,6,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19735,20220713-M-Newport-R16-Andy_Murray-Max_Purcell,2,1,40,3,0,22,13,18,10,7,6,27,12,10,4,3,13,6,7
19736,20220713-M-Newport-R16-Andy_Murray-Max_Purcell,1,2,30,3,2,22,15,8,4,4,3,23,15,9,4,2,9,3,4
19737,20220713-M-Newport-R16-Andy_Murray-Max_Purcell,2,2,23,2,0,14,6,9,2,4,1,30,11,6,1,3,13,8,5
19738,20220713-M-Newport-R16-Andy_Murray-Max_Purcell,1,3,30,2,2,13,10,17,7,3,2,17,12,9,4,3,5,1,2
19739,20220713-M-Newport-R16-Andy_Murray-Max_Purcell,2,3,17,0,1,9,3,8,2,4,1,30,13,7,5,2,13,7,5

In [4]:
df = pd.read_csv('data/atp_matches_2022.csv')
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2022-8888,Atp Cup,Hard,16,A,20220103,300,200000,NaN,NaN,...,50.0,32.0,7.0,10.0,3.0,5.0,11.0,3308.0,19.0,2260.0
1,2022-8888,Atp Cup,Hard,16,A,20220103,299,133430,NaN,NaN,...,33.0,21.0,8.0,9.0,3.0,6.0,14.0,2475.0,20.0,2230.0
2,2022-8888,Atp Cup,Hard,16,A,20220103,298,105138,NaN,NaN,...,80.0,62.0,20.0,16.0,6.0,7.0,19.0,2260.0,9.0,3706.0
3,2022-8888,Atp Cup,Hard,16,A,20220103,297,105807,NaN,NaN,...,27.0,17.0,1.0,7.0,4.0,8.0,20.0,2230.0,860.0,18.0
4,2022-8888,Atp Cup,Hard,16,A,20220103,296,106421,NaN,NaN,...,35.0,22.0,4.0,8.0,3.0,7.0,2.0,8640.0,11.0,3308.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,4,209362,NaN,NaN,...,68.0,42.0,12.0,10.0,11.0,13.0,1103.0,9.0,1130.0,8.0
1996,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,5,202065,NaN,NaN,...,56.0,40.0,20.0,15.0,4.0,8.0,808.0,23.0,1390.0,4.0
1997,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,1,138846,NaN,NaN,...,54.0,29.0,8.0,11.0,6.0,10.0,1059.0,10.0,1881.0,1.0
1998,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,2,209409,NaN,NaN,...,39.0,24.0,7.0,10.0,5.0,9.0,NaN,NaN,NaN,NaN
1999,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,4,208414,NaN,NaN,...,34.0,24.0,13.0,10.0,5.0,8.0,NaN,NaN,NaN,NaN

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 49 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          2000 non-null   object
 1   tourney_name        2000 non-null   object
 2   surface             2000 non-null   object
 3   draw_size           2000 non-null   int64
 4   tourney_level       2000 non-null   object
 5   tourney_date        2000 non-null   int64
 6   match_num           2000 non-null   int64
 7   winner_id           2000 non-null   int64
 8   winner_seed         887 non-null    object
 9   winner_entry        314 non-null    object
 10  winner_name         2000 non-null   object
 11  winner_hand         2000 non-null   object
 12  winner_ht           1970 non-null   float64
 13  winner_ioc          2000 non-null   object
 14  winner_age          2000 non-null   float64
 15  loser_id            2000 non-null   int64
 16  loser_seed          534 non-null    object
 17  loser_entry         435 non-null    object
 18  loser_name          2000 non-null   object
 19  loser_hand          2000 non-null   object
 20  loser_ht            1937 non-null   float64
 21  loser_ioc           2000 non-null   object
 22  loser_age           1999 non-null   float64
 23  score               1999 non-null   object
 24  best_of             2000 non-null   int64
 25  round               2000 non-null   object
 26  minutes             1864 non-null   float64
 27  w_ace               1856 non-null   float64
 28  w_df                1856 non-null   float64
 29  w_svpt              1856 non-null   float64
 30  w_1stIn             1856 non-null   float64
 31  w_1stWon            1856 non-null   float64
 32  w_2ndWon            1856 non-null   float64
 33  w_SvGms             1856 non-null   float64
 34  w_bpSaved           1856 non-null   float64
 35  w_bpFaced           1856 non-null   float64
 36  l_ace               1856 non-null   float64
 37  l_df                1856 non-null   float64
 38  l_svpt              1856 non-null   float64
 39  l_1stIn             1856 non-null   float64
 40  l_1stWon            1856 non-null   float64
 41  l_2ndWon            1856 non-null   float64
 42  l_SvGms             1856 non-null   float64
 43  l_bpSaved           1856 non-null   float64
 44  l_bpFaced           1856 non-null   float64
 45  winner_rank         1996 non-null   float64
 46  winner_rank_points  1996 non-null   float64
 47  loser_rank          1994 non-null   float64
 48  loser_rank_points   1994 non-null   float64
dtypes: float64(27), int64(6), object(16)
memory usage: 765.8+ KB

In [ ]:
data_merge_all = pd.merge(data_merge_1,                         
                          data_merge_2,
                          on = ["ID",''],
                          how = "outer")
print(data_merge_all)

In [ ]:
df.drop(['winner_seed' , 'winner_entry' , 'loser_seed' , 'loser_entry' , 'winner_rank_points','loser_rank_points'],axis =1 ,inplace=True)

In [90]:
df[df['l_ace'].isna()]

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_name,winner_hand,...,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,loser_rank
84,2022-9665,Melbourne,Hard,32,A,20220103,297,104745,Rafael Nadal,L,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,65.0
252,2022-580,Australian Open,Hard,128,G,20220117,190,105554,Daniel Evans,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,48.0
577,2022-0807,Acapulco,Hard,32,A,20220221,286,105376,Peter Gojowczyk,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.0,3.0
662,2022-0404,Indian Wells Masters,Hard,128,M,20220307,290,106401,Nick Kyrgios,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,132.0,10.0
688,2022-0404,Indian Wells Masters,Hard,128,M,20220307,264,105932,Nikoloz Basilashvili,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1669,2022-540,Wimbledon,Grass,128,G,20220627,225,106401,Nick Kyrgios,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,4.0
1709,2022-0315,Newport,Grass,32,A,20220711,289,105449,Steve Johnson,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.0,69.0
1944,2022-M-DC-2022-QLS-M-AUT-KOR-01,Davis Cup QLS R1: AUT vs KOR,Hard,4,D,20220304,1,110602,Dennis Novak,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,143.0,NaN
1945,2022-M-DC-2022-QLS-M-AUT-KOR-01,Davis Cup QLS R1: AUT vs KOR,Hard,4,D,20220304,2,126952,Soon Woo Kwon,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0,194.0
1946,2022-M-DC-2022-QLS-M-AUT-KOR-01,Davis Cup QLS R1: AUT vs KOR,Hard,4,D,20220304,4,126952,Soon Woo Kwon,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0,143.0

In [2]:
df = pd.read_csv('data/charting-m-stats-Overview.csv', delimiter= ',')
df[df['set'] == 'Total']
# Overview - take  winners_fh	winners_bh	unforced	unforced_fh	unforced_bh

,match_id,player,set,serve_pts,aces,dfs,first_in,first_won,second_in,second_won,bk_pts,bp_saved,return_pts,return_pts_won,winners,winners_fh,winners_bh,unforced,unforced_fh,unforced_bh
0,19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bo...,1,Total,69,2,1,32,25,37,21,5,4,63,36,28,10,16,16,6,9
1,19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bo...,2,Total,63,2,2,41,20,22,7,12,4,69,23,14,8,4,26,15,9
8,19780125-M-Pepsi_Grand_Slam-SF-Brian_Gottfried...,1,Total,55,0,1,32,21,23,9,9,5,49,14,11,7,4,31,9,21
9,19780125-M-Pepsi_Grand_Slam-SF-Brian_Gottfried...,2,Total,49,0,2,31,25,18,10,1,0,55,25,15,8,7,21,7,12
14,19800705-M-Wimbledon-F-John_Mcenroe-Bjorn_Borg,1,Total,180,12,3,111,75,69,44,14,10,196,65,69,28,29,102,29,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19717,20220712-M-Bastad-R32-Emil_Ruusuvuori-Dominic_...,2,Total,98,7,3,69,45,29,14,12,8,89,40,31,12,12,44,27,14
19724,20220706-M-Wimbledon-QF-Nick_Kyrgios-Cristian_...,1,Total,114,17,4,81,59,33,14,9,8,88,32,62,11,4,42,21,17
19725,20220706-M-Wimbledon-QF-Nick_Kyrgios-Cristian_...,2,Total,88,2,5,63,43,25,13,6,3,114,41,44,16,8,33,15,13
19732,20220713-M-Newport-R16-Andy_Murray-Max_Purcell,1,Total,87,8,5,50,35,37,16,11,7,80,44,25,10,7,23,11,7
19733,20220713-M-Newport-R16-Andy_Murray-Max_Purcell,2,Total,80,5,1,45,22,35,14,15,8,87,36,23,10,8,39,21,17

In [9]:
df[(df['loser_name'] == 'Max Purcell' ) & (df['winner_name'] == 'Andy Murray')]

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
1708,2022-0315,Newport,Grass,32,A,20220711,290,104918,6,NaN,...,45.0,22.0,14.0,12.0,8.0,15.0,52.0,915.0,202.0,270.0

In [3]:
df2 = pd.read_csv('data/charting-m-stats-ReturnDepth.csv')
#Return- w_ReturenSh,w_ReturenD,w_ReturenVD
#Returen Outcome- w_ReturenWon
col = df2.columns.tolist()
df2 = df2.rename_axis([str(x) for x in range(8)]).reset_index()
df2 = df2.set_axis(col+[str(x) for x in range(8)], axis=1)
df2.drop([str(x) for x in range(8)],axis = 1 ,inplace = True)
df2[['tourney_date', 'sm','tourney_name','sm2','player1','player2']] = df2['match_id'].str.split('-', 6, expand=True)
df2.loc[:,['player1','player2']]=df2.loc[:,['player1','player2']].applymap(lambda x: x.replace('_',' ') ) #for multiple columns
df2 = df2.loc[df2['row'] == 'Total',:]
# So I want to change the value of the column player from 1 to the value of the name in column player1 
#1,16,17 are the index 
for i in range(len(df2)) : 
    df2.iloc[i,1] = np.where(df2.iloc[i,1] == 1, df2.iloc[i,16], df2.iloc[i,17])
df2.drop(['player1', 'player2'],axis = 1 ,inplace = True)
df2

,match_id,player,row,returnable,shallow,deep,very_deep,unforced,err_net,err_deep,err_wide,err_wide_deep,tourney_date,sm,tourney_name,sm2
0,19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bo...,Bjorn Borg,Total,53,26,25,12,2,0,1,0,0,19751219,M,Davis_Cup_World_Group_F,RR
18,19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bo...,Jiri Hrebec,Total,57,30,24,10,3,1,0,2,0,19751219,M,Davis_Cup_World_Group_F,RR
36,19780125-M-Pepsi_Grand_Slam-SF-Brian_Gottfried...,Brian Gottfried,Total,41,8,30,16,3,3,0,0,0,19780125,M,Pepsi_Grand_Slam,SF
54,19780125-M-Pepsi_Grand_Slam-SF-Brian_Gottfried...,Bjorn Borg,Total,47,25,21,9,1,0,1,0,0,19780125,M,Pepsi_Grand_Slam,SF
72,19800705-M-Wimbledon-F-John_Mcenroe-Bjorn_Borg,John Mcenroe,Total,175,23,49,25,43,20,11,7,0,19800705,M,Wimbledon,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92946,20220712-M-Bastad-R32-Emil_Ruusuvuori-Dominic_...,Dominic Thiem,Total,68,18,46,18,3,0,3,0,0,20220712,M,Bastad,R32
92964,20220706-M-Wimbledon-QF-Nick_Kyrgios-Cristian_...,Nick Kyrgios,Total,63,0,0,0,3,0,3,0,0,20220706,M,Wimbledon,QF
92982,20220706-M-Wimbledon-QF-Nick_Kyrgios-Cristian_...,Cristian Garin,Total,63,0,0,0,0,0,0,0,0,20220706,M,Wimbledon,QF
92999,20220713-M-Newport-R16-Andy_Murray-Max_Purcell,Andy Murray,Total,66,14,45,15,0,0,0,0,0,20220713,M,Newport,R16
93017,20220713-M-Newport-R16-Andy_Murray-Max_Purcell,Max Purcell,Total,63,8,52,22,1,1,0,0,0,20220713,M,Newport,R16

In [ ]:
#df2.to_csv('charting-m-stats-ReturnDepth-clean.csv')

In [10]:
#From this data I will take the returnable and returnable_won 
df3 = pd.read_csv('data/charting-m-stats-ReturnOutcomes.csv')
df3

                                                                              match_id  \
19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bor... 1 Total 63 36 53 34 51 34         0
                                                     v1st  41 21 33 21 33 21         0
                                                     v2nd  20 13 20 13 18 13         0
                                                     7     26 15 26 15 26 15         0
                                                     89    25 19 25 19 25 19         0
...                                                                                ...
20220713-M-Newport-R16-Andy_Murray-Max_Purcell     2 4A    13 3  6  3  6  3          0
                                                     5D    20 12 19 12 19 12         0
                                                     5A    17 5  15 5  14 5          0
                                                     6D    7  4  5  4  5  4          0
                                                     6A    8  4  8  4  8  4          0

                                                                              player  \
19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bor... 1 Total 63 36 53 34 51 34     299
                                                     v1st  41 21 33 21 33 21     186
                                                     v2nd  20 13 20 13 18 13     111
                                                     7     26 15 26 15 26 15     123
                                                     89    25 19 25 19 25 19     164
...                                                                              ...
20220713-M-Newport-R16-Andy_Murray-Max_Purcell     2 4A    13 3  6  3  6  3       34
                                                     5D    20 12 19 12 19 12     132
                                                     5A    17 5  15 5  14 5      104
                                                     6D    7  4  5  4  5  4       43
                                                     6A    8  4  8  4  8  4       46

                                                                              row  \
19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bor... 1 Total 63 36 53 34 51 34  NaN
                                                     v1st  41 21 33 21 33 21  NaN
                                                     v2nd  20 13 20 13 18 13  NaN
                                                     7     26 15 26 15 26 15  NaN
                                                     89    25 19 25 19 25 19  NaN
...                                                                           ...
20220713-M-Newport-R16-Andy_Murray-Max_Purcell     2 4A    13 3  6  3  6  3   NaN
                                                     5D    20 12 19 12 19 12  NaN
                                                     5A    17 5  15 5  14 5   NaN
                                                     6D    7  4  5  4  5  4   NaN
                                                     6A    8  4  8  4  8  4   NaN

                                                                              pts  \
19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bor... 1 Total 63 36 53 34 51 34  NaN
                                                     v1st  41 21 33 21 33 21  NaN
                                                     v2nd  20 13 20 13 18 13  NaN
                                                     7     26 15 26 15 26 15  NaN
                                                     89    25 19 25 19 25 19  NaN
...                                                                           ...
20220713-M-Newport-R16-Andy_Murray-Max_Purcell     2 4A    13 3  6  3  6  3   NaN
                                                     5D    20 12 19 12 19 12  NaN
                                                     5A    17 5  15 5  14 5   NaN
                                                     6D    7  4  5  4  5  4   NaN
                                                     6A    8  4  8  4  8  4   NaN

                                                                              pts_won  \
19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bor... 1 Total 63 36 53 34 51 34      NaN
                                                     v1st  41 21 33 21 33 21      NaN
                                                     v2nd  20 13 20 13 18 13      NaN
                                                     7     26 15 26 15 26 15      NaN
                                                     89    25 19 25 19 25 19      NaN
...                                                                               ...
20220713-M-Newport-R16-Andy_Murray-Max_Purcell     2 4A    13 3  6  3  6  3       NaN
                                                     5D    20 12 19 12 19 12      NaN
                                                     5A    17 5  15 5  14 5       NaN
                                                     6D    7  4  5  4  5  4       NaN
                                                     6A    8  4  8  4  8  4       NaN

                                                                              returnable  \
19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bor... 1 Total 63 36 53 34 51 34         NaN
                                                     v1st  41 21 33 21 33 21         NaN
                                                     v2nd  20 13 20 13 18 13         NaN
                                                     7     26 15 26 15 26 15         NaN
                                                     89    25 19 25 19 25 19         NaN
...                                                                                  ...
20220713-M-Newport-R16-Andy_Murray-Max_Purcell     2 4A    13 3  6  3  6  3          NaN
                                                     5D    20 12 19 12 19 12         NaN
                                                     5A    17 5  15 5  14 5          NaN
                                                     6D    7  4  5  4  5  4          NaN
                                                     6A    8  4  8  4  8  4          NaN

                                                                              returnable_won  \
19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bor... 1 Total 63 36 53 34 51 34             NaN
                                                     v1st  41 21 33 21 33 21             NaN
                                                     v2nd  20 13 20 13 18 13             NaN
                                                     7     26 15 26 15 26 15             NaN
                                                     89    25 19 25 19 25 19             NaN
...                                                                                      ...
20220713-M-Newport-R16-Andy_Murray-Max_Purcell     2 4A    13 3  6  3  6  3              NaN
                                                     5D    20 12 19 12 19 12             NaN
                                                     5A    17 5  15 5  14 5              NaN
                                                     6D    7  4  5  4  5  4              NaN
                                                     6A    8  4  8  4  8  4              NaN

                                                                              in_play  \
19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bor... 1 Total 63 36 53 34 51 34      NaN
                                                     v1st  41 21 33 21 33 21      NaN
                                                     v2nd  20 13 20 13 18 13      NaN
                                                     7     26 15 26 15 26 15      NaN
                                                     89    25 19 25 19 25 19      NaN
...                                                                               ...
20220713-M-Newport-R16-Andy_Murray-Max_Purcell     2 4A    13 3  6  3  6  3       NaN
                                                     5D    20 12 19 12 19 12      NaN
                                                     5A    17 5  15 5  14 5       NaN
                                                     6D    7  4  5  4  5  4       NaN
                                                     6A    8  4  8  4  8  4       NaN

                                                                              in_play_won  \
19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bor... 1 Total 63 36 53 34 51 34          NaN
                                                     v1st  41 21 33 21 33 21          NaN
                                                     v2nd  20 13 20 13 18 13          NaN
                                                     7     26 15 26 15 26 15          NaN
                                                     89    25 19 25 19 25 19          NaN
...                                                                                   ...
20220713-M-Newport-R16-Andy_Murray-Max_Purcell     2 4A    13 3  6  3  6  3           NaN
                                                     5D    20 12 19 12 19 12          NaN
                                                     5A    17 5  15 5  14 5           NaN
                                                     6D    7  4  5  4  5  4           NaN
                                                     6A    8  4  8  4  8  4           NaN

                                                                              winners  \
19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bor... 1 Total 63 36 53 34 51 34      NaN
                                                     v1st  41 21 33 21 33 21      NaN
                                                     v2nd  20 13 20 13 18 13      NaN
                                                     7     26 15 26 15 26 15      NaN
                                                     89    25 19 25 19 25 19      NaN
...                                                                               ...
20220713-M-Newport-R16-Andy_Murray-Max_Purcell     2 4A    13 3  6  3  6  3       NaN
                                                     5D    20 12 19 12 19 12      NaN
                                                     5A    17 5  15 5  14 5       NaN
                                                     6D    7  4  5  4  5  4       NaN
                                                     6A    8  4  8  4  8  4       NaN

                                                                              total_shots
19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bor... 1 Total 63 36 53 34 51 34          NaN
                                                     v1st  41 21 33 21 33 21          NaN
                                                     v2nd  20 13 20 13 18 13          NaN
                                                     7     26 15 26 15 26 15          NaN
                                                     89    25 19 25 19 25 19          NaN
...                                                                                   ...
20220713-M-Newport-R16-Andy_Murray-Max_Purcell     2 4A    13 3  6  3  6  3           NaN
                                                     5D    20 12 19 12 19 12          NaN
                                                     5A    17 5  15 5  14 5           NaN
                                                     6D    7  4  5  4  5  4           NaN
                                                     6A    8  4  8  4  8  4           NaN

[107057 rows x 11 columns]

In [14]:
# col = df3.columns.tolist()
# df3 = df3.rename_axis([str(x) for x in range(9)]).reset_index()
# df3 = df3.set_axis(col+[str(x) for x in range(9)], axis=1)
# df3.drop([str(x) for x in range(9)],axis = 1 ,inplace = True)
# df3[['tourney_date', 'sm','tourney_name','sm2','player1','player2']] = df3['match_id'].str.split('-', 6, expand=True)
# df3.loc[:,['player1','player2']]=df3.loc[:,['player1','player2']].applymap(lambda x: x.replace('_',' ') ) #for multiple columns
# df3 = df3.loc[df3['row'] == 'Total',:]
# So I want to change the value of the column player from 1 to the value of the name in column player1 
#1,16,17 are the index 
for i in range(len(df3)) : 
    df3.iloc[i,1] = np.where(df3.iloc[i,1] == 1, df3.iloc[i,15], df3.iloc[i,16])
df3.drop(['player1', 'player2'],axis = 1 ,inplace = True)
df3

,match_id,player,row,pts,pts_won,returnable,returnable_won,in_play,in_play_won,winners,total_shots,tourney_date,sm,tourney_name,sm2
0,19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bo...,Bjorn Borg,Total,63,36,53,34,51,34,0,299,19751219,M,Davis_Cup_World_Group_F,RR
21,19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bo...,Jiri Hrebec,Total,69,23,57,22,54,22,1,329,19751219,M,Davis_Cup_World_Group_F,RR
42,19780125-M-Pepsi_Grand_Slam-SF-Brian_Gottfried...,Brian Gottfried,Total,49,14,41,12,38,12,0,307,19780125,M,Pepsi_Grand_Slam,SF
63,19780125-M-Pepsi_Grand_Slam-SF-Brian_Gottfried...,Bjorn Borg,Total,55,25,47,24,46,24,1,281,19780125,M,Pepsi_Grand_Slam,SF
84,19800705-M-Wimbledon-F-John_Mcenroe-Bjorn_Borg,John Mcenroe,Total,196,65,175,57,132,57,7,623,19800705,M,Wimbledon,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106959,20220712-M-Bastad-R32-Emil_Ruusuvuori-Dominic_...,Dominic Thiem,Total,89,40,68,33,65,33,0,484,20220712,M,Bastad,R32
106980,20220706-M-Wimbledon-QF-Nick_Kyrgios-Cristian_...,Nick Kyrgios,Total,88,32,63,27,60,27,1,343,20220706,M,Wimbledon,QF
106998,20220706-M-Wimbledon-QF-Nick_Kyrgios-Cristian_...,Cristian Garin,Total,114,41,63,37,63,37,4,349,20220706,M,Wimbledon,QF
107015,20220713-M-Newport-R16-Andy_Murray-Max_Purcell,Andy Murray,Total,80,44,66,43,66,43,0,421,20220713,M,Newport,R16
107036,20220713-M-Newport-R16-Andy_Murray-Max_Purcell,Max Purcell,Total,87,36,63,31,62,31,0,440,20220713,M,Newport,R16

,match_id,player,row,pts,pts_won,returnable,returnable_won,in_play,in_play_won,winners,total_shots,tourney_date,sm,tourney_name,sm2,player1,player2
0,19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bo...,1,Total,63,36,53,34,51,34,0,299,19751219,M,Davis_Cup_World_Group_F,RR,Bjorn Borg,Jiri Hrebec
21,19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bo...,2,Total,69,23,57,22,54,22,1,329,19751219,M,Davis_Cup_World_Group_F,RR,Bjorn Borg,Jiri Hrebec
42,19780125-M-Pepsi_Grand_Slam-SF-Brian_Gottfried...,1,Total,49,14,41,12,38,12,0,307,19780125,M,Pepsi_Grand_Slam,SF,Brian Gottfried,Bjorn Borg
63,19780125-M-Pepsi_Grand_Slam-SF-Brian_Gottfried...,2,Total,55,25,47,24,46,24,1,281,19780125,M,Pepsi_Grand_Slam,SF,Brian Gottfried,Bjorn Borg
84,19800705-M-Wimbledon-F-John_Mcenroe-Bjorn_Borg,1,Total,196,65,175,57,132,57,7,623,19800705,M,Wimbledon,F,John Mcenroe,Bjorn Borg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106959,20220712-M-Bastad-R32-Emil_Ruusuvuori-Dominic_...,2,Total,89,40,68,33,65,33,0,484,20220712,M,Bastad,R32,Emil Ruusuvuori,Dominic Thiem
106980,20220706-M-Wimbledon-QF-Nick_Kyrgios-Cristian_...,1,Total,88,32,63,27,60,27,1,343,20220706,M,Wimbledon,QF,Nick Kyrgios,Cristian Garin
106998,20220706-M-Wimbledon-QF-Nick_Kyrgios-Cristian_...,2,Total,114,41,63,37,63,37,4,349,20220706,M,Wimbledon,QF,Nick Kyrgios,Cristian Garin
107015,20220713-M-Newport-R16-Andy_Murray-Max_Purcell,1,Total,80,44,66,43,66,43,0,421,20220713,M,Newport,R16,Andy Murray,Max Purcell
107036,20220713-M-Newport-R16-Andy_Murray-Max_Purcell,2,Total,87,36,63,31,62,31,0,440,20220713,M,Newport,R16,Andy Murray,Max Purcell

In [10]:
df3.to_csv('charting-m-stats-ReturnOutcomes-clean.csv')

In [69]:
df4 = pd.read_csv('data/charting-m-stats-ShotDirection.csv')
df4
# I want crosscourt	down_middle	down_the_line	inside_out	inside_in

                                                                                           match_id  \
19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bor... 1 Total 87  43 19 22 0 NaN NaN NaN NaN       NaN
                                                     F     27  23 10 19 0 NaN NaN NaN NaN       NaN
                                                     B     57  17 8  3  0 NaN NaN NaN NaN       NaN
                                                     S     3   3  1  0  0 NaN NaN NaN NaN       NaN
                                                   2 Total 79  52 17 26 2 NaN NaN NaN NaN       NaN
...                                                                                             ...
20220713-M-Newport-R16-Andy_Murray-Max_Purcell     1 S     13  14 10 8  0 NaN NaN NaN NaN       NaN
                                                   2 Total 118 45 31 23 0 NaN NaN NaN NaN       NaN
                                                     F     31  3  10 8  0 NaN NaN NaN NaN       NaN
                                                     B     27  17 7  8  0 NaN NaN NaN NaN       NaN
                                                     S     60  25 14 7  0 NaN NaN NaN NaN       NaN

                                                                                           player  \
19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bor... 1 Total 87  43 19 22 0 NaN NaN NaN NaN     NaN
                                                     F     27  23 10 19 0 NaN NaN NaN NaN     NaN
                                                     B     57  17 8  3  0 NaN NaN NaN NaN     NaN
                                                     S     3   3  1  0  0 NaN NaN NaN NaN     NaN
                                                   2 Total 79  52 17 26 2 NaN NaN NaN NaN     NaN
...                                                                                           ...
20220713-M-Newport-R16-Andy_Murray-Max_Purcell     1 S     13  14 10 8  0 NaN NaN NaN NaN     NaN
                                                   2 Total 118 45 31 23 0 NaN NaN NaN NaN     NaN
                                                     F     31  3  10 8  0 NaN NaN NaN NaN     NaN
                                                     B     27  17 7  8  0 NaN NaN NaN NaN     NaN
                                                     S     60  25 14 7  0 NaN NaN NaN NaN     NaN

                                                                                           row  \
19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bor... 1 Total 87  43 19 22 0 NaN NaN NaN NaN  NaN
                                                     F     27  23 10 19 0 NaN NaN NaN NaN  NaN
                                                     B     57  17 8  3  0 NaN NaN NaN NaN  NaN
                                                     S     3   3  1  0  0 NaN NaN NaN NaN  NaN
                                                   2 Total 79  52 17 26 2 NaN NaN NaN NaN  NaN
...                                                                                        ...
20220713-M-Newport-R16-Andy_Murray-Max_Purcell     1 S     13  14 10 8  0 NaN NaN NaN NaN  NaN
                                                   2 Total 118 45 31 23 0 NaN NaN NaN NaN  NaN
                                                     F     31  3  10 8  0 NaN NaN NaN NaN  NaN
                                                     B     27  17 7  8  0 NaN NaN NaN NaN  NaN
                                                     S     60  25 14 7  0 NaN NaN NaN NaN  NaN

                                                                                           crosscourt  \
19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bor... 1 Total 87  43 19 22 0 NaN NaN NaN NaN         NaN
                                                     F     27  23 10 19 0 NaN NaN NaN NaN         NaN
                                                     B     57  17 8  3  0 NaN NaN NaN NaN         NaN
                                                     S     3   3  1  0  0 NaN NaN NaN NaN         NaN
                                                   2 Total 79  52 17 26 2 NaN NaN NaN NaN         NaN
...                                                                                               ...
20220713-M-Newport-R16-Andy_Murray-Max_Purcell     1 S     13  14 10 8  0 NaN NaN NaN NaN         NaN
                                                   2 Total 118 45 31 23 0 NaN NaN NaN NaN         NaN
                                                     F     31  3  10 8  0 NaN NaN NaN NaN         NaN
                                                     B     27  17 7  8  0 NaN NaN NaN NaN         NaN
                                                     S     60  25 14 7  0 NaN NaN NaN NaN         NaN

                                                                                           down_middle  \
19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bor... 1 Total 87  43 19 22 0 NaN NaN NaN NaN          NaN
                                                     F     27  23 10 19 0 NaN NaN NaN NaN          NaN
                                                     B     57  17 8  3  0 NaN NaN NaN NaN          NaN
                                                     S     3   3  1  0  0 NaN NaN NaN NaN          NaN
                                                   2 Total 79  52 17 26 2 NaN NaN NaN NaN          NaN
...                                                                                                ...
20220713-M-Newport-R16-Andy_Murray-Max_Purcell     1 S     13  14 10 8  0 NaN NaN NaN NaN          NaN
                                                   2 Total 118 45 31 23 0 NaN NaN NaN NaN          NaN
                                                     F     31  3  10 8  0 NaN NaN NaN NaN          NaN
                                                     B     27  17 7  8  0 NaN NaN NaN NaN          NaN
                                                     S     60  25 14 7  0 NaN NaN NaN NaN          NaN

                                                                                           down_the_line  \
19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bor... 1 Total 87  43 19 22 0 NaN NaN NaN NaN            NaN
                                                     F     27  23 10 19 0 NaN NaN NaN NaN            NaN
                                                     B     57  17 8  3  0 NaN NaN NaN NaN            NaN
                                                     S     3   3  1  0  0 NaN NaN NaN NaN            NaN
                                                   2 Total 79  52 17 26 2 NaN NaN NaN NaN            NaN
...                                                                                                  ...
20220713-M-Newport-R16-Andy_Murray-Max_Purcell     1 S     13  14 10 8  0 NaN NaN NaN NaN            NaN
                                                   2 Total 118 45 31 23 0 NaN NaN NaN NaN            NaN
                                                     F     31  3  10 8  0 NaN NaN NaN NaN            NaN
                                                     B     27  17 7  8  0 NaN NaN NaN NaN            NaN
                                                     S     60  25 14 7  0 NaN NaN NaN NaN            NaN

                                                                                           inside_out  \
19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bor... 1 Total 87  43 19 22 0 NaN NaN NaN NaN         NaN
                                                     F     27  23 10 19 0 NaN NaN NaN NaN         NaN
                                                     B     57  17 8  3  0 NaN NaN NaN NaN         NaN
                                                     S     3   3  1  0  0 NaN NaN NaN NaN         NaN
                                                   2 Total 79  52 17 26 2 NaN NaN NaN NaN         NaN
...                                                                                               ...
20220713-M-Newport-R16-Andy_Murray-Max_Purcell     1 S     13  14 10 8  0 NaN NaN NaN NaN         NaN
                                                   2 Total 118 45 31 23 0 NaN NaN NaN NaN         NaN
                                                     F     31  3  10 8  0 NaN NaN NaN NaN         NaN
                                                     B     27  17 7  8  0 NaN NaN NaN NaN         NaN
                                                     S     60  25 14 7  0 NaN NaN NaN NaN         NaN

                                                                                           inside_in
19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bor... 1 Total 87  43 19 22 0 NaN NaN NaN NaN        NaN
                                                     F     27  23 10 19 0 NaN NaN NaN NaN        NaN
                                                     B     57  17 8  3  0 NaN NaN NaN NaN        NaN
                                                     S     3   3  1  0  0 NaN NaN NaN NaN        NaN
                                                   2 Total 79  52 17 26 2 NaN NaN NaN NaN        NaN
...                                                                                              ...
20220713-M-Newport-R16-Andy_Murray-Max_Purcell     1 S     13  14 10 8  0 NaN NaN NaN NaN        NaN
                                                   2 Total 118 45 31 23 0 NaN NaN NaN NaN        NaN
                                                     F     31  3  10 8  0 NaN NaN NaN NaN        NaN
                                                     B     27  17 7  8  0 NaN NaN NaN NaN        NaN
                                                     S     60  25 14 7  0 NaN NaN NaN NaN        NaN

[20614 rows x 8 columns]

In [70]:
col = df4.columns.tolist()
df4 = df4.rename_axis([str(x) for x in range(12)]).reset_index()
df4 = df4.set_axis(col+[str(x) for x in range(12)], axis=1)
df4.drop([str(x) for x in range(12)],axis = 1 ,inplace = True)
df4[['tourney_date', 'sm','tourney_name','sm2','player1','player2']] = df4['match_id'].str.split('-', 6, expand=True)
df4.loc[:,['player1','player2']]=df4.loc[:,['player1','player2']].applymap(lambda x: x.replace('_',' ') ) #for multiple columns
df4 = df4.loc[df4['row'] == 'Total',:]
# So I want to change the value of the column player from 1 to the value of the name in column player1 
#1,16,17 are the index 
for i in range(len(df4)) : 
    df4.iloc[i,1] = np.where(df4.iloc[i,1] == 1, df4.iloc[i,12], df4.iloc[i,13])
df4.drop(['player1', 'player2'],axis = 1 ,inplace = True)
df4

,match_id,player,row,crosscourt,down_middle,down_the_line,inside_out,inside_in,tourney_date,sm,tourney_name,sm2
0,19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bo...,Bjorn Borg,Total,87,43,19,22,0,19751219,M,Davis_Cup_World_Group_F,RR
4,19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bo...,Jiri Hrebec,Total,79,52,17,26,2,19751219,M,Davis_Cup_World_Group_F,RR
8,19780125-M-Pepsi_Grand_Slam-SF-Brian_Gottfried...,Brian Gottfried,Total,88,33,20,13,0,19780125,M,Pepsi_Grand_Slam,SF
12,19780125-M-Pepsi_Grand_Slam-SF-Brian_Gottfried...,Bjorn Borg,Total,132,45,19,10,2,19780125,M,Pepsi_Grand_Slam,SF
16,19800705-M-Wimbledon-F-John_Mcenroe-Bjorn_Borg,John Mcenroe,Total,43,25,40,17,2,19800705,M,Wimbledon,F
...,...,...,...,...,...,...,...,...,...,...,...,...
20594,20220712-M-Bastad-R32-Emil_Ruusuvuori-Dominic_...,Dominic Thiem,Total,141,102,25,46,3,20220712,M,Bastad,R32
20598,20220706-M-Wimbledon-QF-Nick_Kyrgios-Cristian_...,Nick Kyrgios,Total,44,99,14,34,0,20220706,M,Wimbledon,QF
20602,20220706-M-Wimbledon-QF-Nick_Kyrgios-Cristian_...,Cristian Garin,Total,66,94,4,27,1,20220706,M,Wimbledon,QF
20606,20220713-M-Newport-R16-Andy_Murray-Max_Purcell,Andy Murray,Total,131,60,35,39,7,20220713,M,Newport,R16
20610,20220713-M-Newport-R16-Andy_Murray-Max_Purcell,Max Purcell,Total,118,45,31,23,0,20220713,M,Newport,R16

In [9]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5201 entries, 0 to 20610
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   match_id       5201 non-null   object
 1   player         5201 non-null   int64
 2   row            5201 non-null   object
 3   crosscourt     5201 non-null   int64
 4   down_middle    5201 non-null   int64
 5   down_the_line  5201 non-null   int64
 6   inside_out     5201 non-null   int64
 7   inside_in      5201 non-null   int64
 8   tourney_date   5201 non-null   object
 9   sm             5201 non-null   object
 10  tourney_name   5201 non-null   object
 11  sm2            5201 non-null   object
 12  player1        5201 non-null   object
 13  player2        5201 non-null   object
dtypes: int64(6), object(8)
memory usage: 609.5+ KB

In [52]:
df4.to_csv('data/charting-m-stats-ShotDirection-clean.csv')

In [83]:
df4['tourney_date'] = df4['tourney_date'].apply(lambda x : int(x)) 
df4 = df4.loc[df4['tourney_date'] > 20100000 , :]

# Link the datasets

In [84]:
df4

,match_id,player,row,crosscourt,down_middle,down_the_line,inside_out,inside_in,tourney_date,sm,tourney_name,sm2
18666,20220107-M-Melbourne-QF-Grigor_Dimitrov-Botic_...,Grigor Dimitrov,Total,140,79,35,68,13,20220107,M,Melbourne,QF
18670,20220107-M-Melbourne-QF-Grigor_Dimitrov-Botic_...,Botic Van De Zandschulp,Total,122,82,21,97,12,20220107,M,Melbourne,QF
18682,20220109-M-Melbourne-F-Maxime_Cressy-Rafael_Nadal,Maxime Cressy,Total,30,12,6,7,1,20220109,M,Melbourne,F
18686,20220109-M-Melbourne-F-Maxime_Cressy-Rafael_Nadal,Rafael Nadal,Total,36,14,16,12,4,20220109,M,Melbourne,F
18690,20220113-M-Adelaide-QF-Aleksandar_Vukic-Thanas...,Aleksandar Vukic,Total,0,0,0,0,0,20220113,M,Adelaide,QF
...,...,...,...,...,...,...,...,...,...,...,...,...
20594,20220712-M-Bastad-R32-Emil_Ruusuvuori-Dominic_...,Dominic Thiem,Total,141,102,25,46,3,20220712,M,Bastad,R32
20598,20220706-M-Wimbledon-QF-Nick_Kyrgios-Cristian_...,Nick Kyrgios,Total,44,99,14,34,0,20220706,M,Wimbledon,QF
20602,20220706-M-Wimbledon-QF-Nick_Kyrgios-Cristian_...,Cristian Garin,Total,66,94,4,27,1,20220706,M,Wimbledon,QF
20606,20220713-M-Newport-R16-Andy_Murray-Max_Purcell,Andy Murray,Total,131,60,35,39,7,20220713,M,Newport,R16
20610,20220713-M-Newport-R16-Andy_Murray-Max_Purcell,Max Purcell,Total,118,45,31,23,0,20220713,M,Newport,R16

In [77]:
value, counts = np.unique(df4['tourney_name'],return_counts=True)
print(dict(zip(value,counts)))

{'Acapulco': 10, 'Adelaide': 4, 'Australian_Open': 60, 'Barcelona': 8, 'Barletta_CH': 8, 'Bastad': 2, 'Belgrade': 2, 'Buenos_Aires': 4, 'Cordoba': 2, 'Dallas': 6, 'Davis_Cup_Qualifiers': 6, 'Doha': 2, 'Dubai': 2, 'Forli_CH': 2, 'Geneva': 4, 'Halle': 8, 'Houston': 10, 'Indian_Wells_Masters': 36, 'Lugano_CH': 2, 'Madrid_Masters': 22, 'Melbourne': 4, 'Miami_Masters': 34, 'Monte_Carlo_Masters': 12, 'Montpellier': 4, 'Munich': 10, 'Newport': 4, 'Queens_Club': 2, 'Rio_de_Janeiro': 6, 'Roland_Garros': 36, 'Rome_Masters': 22, 'Rotterdam': 8, 'Santiago': 4, 'Shymkent_CH': 2, 'Stuttgart': 10, 'Sydney': 2, 'Wimbledon': 14, 'Zagreb_CH': 2, 's_Hertogenbosch': 8}

In [78]:
df4[(df4['tourney_name'] == 'Zagreb_CH') | (df4['tourney_name'] == 'Zagreb') ]

,match_id,player,row,crosscourt,down_middle,down_the_line,inside_out,inside_in,tourney_date,sm,tourney_name,sm2
20156,20220514-M-Zagreb_CH-F-Filip_Misolic-Mili_Polj...,Filip Misolic,Total,93,17,14,16,3,20220514,M,Zagreb_CH,F
20160,20220514-M-Zagreb_CH-F-Filip_Misolic-Mili_Polj...,Mili Poljicak,Total,68,29,18,13,8,20220514,M,Zagreb_CH,F

In [88]:
value, counts = np.unique(df['tourney_name'],return_counts=True)
print(dict(zip(value,counts)))

{'Acapulco': 31, 'Adelaide 1': 27, 'Adelaide 2': 27, 'Atlanta': 27, 'Atp Cup': 54, 'Australian Open': 127, 'Barcelona': 47, 'Bastad': 27, 'Belgrade ': 27, 'Buenos Aires': 27, 'Cordoba': 27, 'Dallas': 27, 'Davis Cup QLS R1: ARG vs CZE': 3, 'Davis Cup QLS R1: AUS vs HUN': 3, 'Davis Cup QLS R1: AUT vs KOR': 3, 'Davis Cup QLS R1: BEL vs FIN': 4, 'Davis Cup QLS R1: CAN vs NED': 3, 'Davis Cup QLS R1: ESP vs ROU': 3, 'Davis Cup QLS R1: FRA vs ECU': 3, 'Davis Cup QLS R1: GER vs BRA': 3, 'Davis Cup QLS R1: ITA vs SVK': 4, 'Davis Cup QLS R1: KAZ vs NOR': 3, 'Davis Cup QLS R1: SWE vs JPN': 4, 'Davis Cup QLS R1: USA vs COL': 3, 'Davis Cup WG1 PO: CHI vs SLO': 2, 'Davis Cup WG1 PO: IND vs DEN': 2, 'Davis Cup WG1 PO: PAK vs LTU': 4, 'Davis Cup WG1 PO: UZB vs TUR': 4, 'Davis Cup WG2 PO: EGY vs CYP': 4, 'Davis Cup WG2 PO: GRE vs JAM': 4, 'Davis Cup WG2 PO: HKG vs BEN': 3, 'Delray Beach': 27, 'Doha': 27, 'Dubai': 31, 'Eastbourne': 27, 'Estoril': 27, 'Geneva': 27, 'Gstaad': 27, 'Halle': 31, 'Hamburg': 31, 'Houston': 27, 'Indian Wells Masters': 95, 'Kitzbuhel': 27, 'Los Cabos': 27, 'Lyon': 27, 'Madrid Masters': 55, 'Mallorca': 27, 'Marrakech': 31, 'Marseille': 27, 'Melbourne': 27, 'Miami Masters': 95, 'Monte Carlo Masters': 55, 'Montpellier': 27, 'Munich': 27, 'Newport': 27, 'Pune': 27, "Queen's Club": 31, 'Rio de Janeiro': 27, 'Roland Garros': 127, 'Rome Masters': 55, 'Rotterdam': 31, 'Santiago': 27, 'Stuttgart': 27, 'Sydney': 27, 'Umag': 27, 'Washington': 47, 'Wimbledon': 127, 's Hertogenbosch': 27}

# EDA

In [18]:
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
display(df.describe(include='number'))
display(df.describe(include='object'))

,draw_size,tourney_date,match_num,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,...,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,loser_rank
count,2000.000000,2.000000e+03,2000.000000,2000.000000,1970.000000,2000.000000,2000.000000,1937.000000,1999.000000,2000.000000,...,1856.000000,1856.000000,1856.000000,1856.000000,1856.000000,1856.000000,1856.000000,1856.000000,1996.000000,1994.000000
mean,62.252000,2.022041e+07,247.966500,134839.384500,187.341117,26.819600,132152.484000,186.606608,27.384042,3.381000,...,3.146552,80.374461,49.809806,33.293642,14.242457,12.203125,4.696121,8.352371,63.763026,100.239719
std,43.367602,2.139448e+02,67.510527,38413.481142,7.112631,4.548242,37433.702558,6.888435,4.570060,0.785587,...,2.442232,27.232559,18.297686,13.914970,6.730904,3.970268,3.208867,3.958106,87.685742,145.344433
min,4.000000,2.022010e+07,1.000000,100644.000000,170.000000,17.700000,100644.000000,170.000000,16.900000,3.000000,...,0.000000,13.000000,4.000000,1.000000,0.000000,2.000000,0.000000,0.000000,1.000000,1.000000
25%,32.000000,2.022021e+07,231.000000,105932.000000,183.000000,23.600000,105807.000000,183.000000,24.200000,3.000000,...,1.000000,60.000000,36.000000,23.000000,9.000000,9.000000,2.000000,6.000000,18.000000,36.000000
50%,32.000000,2.022041e+07,277.000000,122330.000000,188.000000,25.900000,111513.000000,185.000000,26.600000,3.000000,...,3.000000,77.000000,47.000000,31.000000,13.000000,11.000000,4.000000,8.000000,44.000000,67.000000
75%,128.000000,2.022061e+07,290.000000,144684.000000,193.000000,29.900000,134868.000000,191.000000,30.450000,3.000000,...,4.000000,96.000000,60.000000,41.000000,18.000000,15.000000,7.000000,11.000000,82.000000,110.000000
max,128.000000,2.022080e+07,300.000000,211346.000000,211.000000,42.000000,211346.000000,211.000000,42.000000,5.000000,...,18.000000,210.000000,128.000000,92.000000,48.000000,29.000000,20.000000,27.000000,1390.000000,2119.000000

,tourney_id,tourney_name,surface,tourney_level,winner_name,winner_hand,winner_ioc,loser_name,loser_hand,loser_ioc,score,round
count,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,1999,2000
unique,68,68,3,4,212,3,55,307,3,60,919,8
top,2022-520,Roland Garros,Hard,A,Carlos Alcaraz,R,USA,Nikoloz Basilashvili,R,USA,6-4 6-4,R32
freq,127,127,869,1202,42,1713,269,22,1670,262,66,644

In [27]:
df['winner_hand'].unique()

array(['R', 'L', 'U'], dtype=object)

In [31]:
1

1

# Things that need to be improved

-**The depth of the analysis**
-**having a precise plan (I get distracted easily)**
-**The data dictionary explanation**

# Things I can do after the project

1- Contribute to the Repo